- provide :title, "View Todos"

= render header_template

h1 Your Todos

= link_to 'Create New Todo', new_todo_path
= button_to 'Delete Completed Todos', all_completed_todos_path, method: :delete

- todo_templates.each do |todo_template|
  = render todo_template

